body {
  font-family: "Chewy", system-ui;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #fce4ec, #f3e5f5);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #b388eb, #9055ff, #6f00ff);
  padding: 10px 20px;
  width: 100%;
}

header img {
  height: 30px;
  width: 65px;
  margin: 5px 0 15px;
  padding-top: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav ul li:not(:last-child)::after {
  content: "|";
  color: white;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

nav a:hover {
  color: #fff;
  text-shadow: 0 0 5px #fff;
}



/* Estilo de la sección de contacto */
.contacto-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  background: linear-gradient(135deg, rgba(255, 182, 193, 0.2), rgba(179, 136, 235, 0.15));
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(179, 136, 235, 0.3);
  text-align: center;
}

.contacto-container h2 {
  color: #6f00ff;
  font-size: 40px;
  margin-bottom: 10px;
}

.contacto-container p {
  color: #333;
  font-size: 18px;
  margin-bottom: 30px;
}

.formdeContacto {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formdeContacto input,
.formdeContacto textarea {
  padding: 10px;
  border: 2px solid #b388eb;
  border-radius: 12px;
  font-family: inherit;
  font-size: 18px;
}

.formdeContacto button {
  padding: 10px 20px;
  background-color: #b388eb;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.formdeContacto button:hover {
  background-color: #8442fd;
 
}
